.conatiner{
    margin: 28px 52px;
}

body{    
    font-style: normal;
    font-weight: 500;
    background: #fff;
    color: #333;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-family: "Lato",Arial,Helvetica,sans-serif;
}