@import '../../../../scss/Config.scss';

.search-bar-container{
    position: relative;
    margin-top: 20px;
    .search-bar{
        padding: 12px 12px 12px 56px;
        width:300px;
        height:42px;
        font-size: 18px;

        @extend %input-style;
    }
    
    .search-bar:focus{
        border-color:$blue-dark;
    }

    .search-icon{
        position: absolute;
        left:24px;
        top:10px;
    }
}