@import '../../../../scss/Config.scss';

.products{
    .table{
        width:100%;
        td{
            vertical-align: top;
            padding:10px;
            border-bottom:1pt solid $gray-light;
            &.checkbox-td{
                padding-right:0;
                .checkbox-wrapper{
                    margin-top:6px;
                }
            }
            &.text-column{
                text-align: right;
                vertical-align: middle;
                color: $gray-dark;
                div{
                    width:100%
                }
            }


            &.name-column{
                padding-left:0px;
                .name-column-wrapper{
                    display: flex;
                    .align-center{
                        align-self: center;
                    }
                }
        
                .thumbnail{
                    align-self: center;
                    float: left;
                    margin-left:6px;
                    width:32px;
                    height:32px;
                    @extend %border-style;
                    border-color: $gray-mid;
                }
                input{
                    &.item-name{
                        align-self: center;
                        flex-grow: 1;
                        margin-left:12px;
                        width: auto;
                    }
                }
                div{
                    &.item-name{
                        align-self: center;
                        margin: 3px;
                        margin-left: 12px;
                        color: $gray-dark;
                    }
                }
            }
        }
    }
}